@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --primary: hsl(322, 100%, 66%);
    --neutral-a: hsl(193, 100%, 96%);
    --neutral-b: hsl(192, 100%, 9%);
    --neutral-c: hsl(208, 11%, 55%);
    --ff-1: 'Open Sans', sans-serif;
    --ff-2: 'Poppins', sans-serif;
    --fw-a: 700;
    --fw-b: 600;
    --fw-c: 400;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--ff-2);
    font-weight: 600;
    margin-bottom: 25px;
}

body {
    font-family: var(--ff-1);
    line-height: 1.5;
}

.cta {
    cursor: pointer;
    font-family: var(--ff-1);
    font-weight: 600;
    padding: 16px 53px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

/* Header Section */

header {
    background: var(--neutral-a);
    background-image: url(./images/bg-hero-desktop.svg);
    padding: 42px 60px;
    margin-bottom: 170px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.nav-btn {
    background-color: #fff;
    color: var(--neutral-c);
}

.flex-header {
    width: 100%;
    display: flex;
    gap: 65px;
}

.header-content {
    flex: 2;
    padding-top: 100px;
}

.title {
    font-size: 30px;
    width: 80%;
}

.header-img {
    width: 55%;
}

.header-img img {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.header-btn {
    background: var(--primary);
    color: #fff;
    margin-top: 32px;
}

.header-btn:hover {
    opacity: 0.4;
}

/* Main Section */

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
}

.card {
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 18em;
    width: 90%;
    margin: 0 auto;
    padding: 2em 2em 2em 8em;
}

.card article {
    flex: 1;
    align-self: center;
}

.card article p {
    color: var(--neutral-c);
    font-size: 14px;
}

.card-img {
    width: 35%;
}

.card:nth-child(2) {
    flex-direction: row-reverse;
}

/* Card Footer */

.card-footer {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 4.5em 0 3em 0;
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.article-btn {
    color: #fff;
    background: var(--primary);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.article-btn:hover {
    opacity: 0.7;
}


/* .attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a {
    color: hsl(228, 45%, 44%); 
} */
